<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<!--<div class="invalid-feedback" layout:fragment="validation-errors">
    <ul>
        <li th:each="error : ${#object}" th:text="${error.getMessage()}"></li>
    </ul>
</div>-->

<section layout:fragment="header">
    Создание страницы
</section>

<section layout:fragment="content">
    <form th:object="${url}" action="/urls" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}" placeholder="Введите URL страницы">
<!--            <div layout:fragment="validation-errors" th:object="${errors.name}"></div>-->
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</section>

</html>